.header
{
    width: 100%;
    font-size: 2.5rem;
    color: rgb(56, 144, 170);
    margin-bottom: 10px;
    height: 7rem;
}

.title {
    float: left;
    font-family: cursive;
    font-size: 45px;
}

.instructions {
    font-family: cursive;
    text-align: center;
    color: palevioletred;

}

.scores {
    float: right;
    font-family: cursive;
}